@import "tailwindcss";

@theme {
  --color-primary: #e0e5ec;
  --color-dark-shadow: #a3b1c6;
  --color-light-shadow: #ffffff;
}

@layer base {
  body {
    @apply bg-[#e0e5ec] text-slate-700;
    font-family: 'Outfit', sans-serif;
  }
}

@layer utilities {
  .neumorphic-flat {
    background: #e0e5ec;
    box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
      -9px -9px 16px rgba(255, 255, 255, 0.5);
  }

  .neumorphic-inset {
    background: #e0e5ec;
    box-shadow: inset 9px 9px 16px rgb(163, 177, 198, 0.6),
      inset -9px -9px 16px rgba(255, 255, 255, 0.5);
  }

  .neumorphic-pressed {
    background: #e0e5ec;
    box-shadow: inset 4px 4px 8px rgb(163, 177, 198, 0.6),
      inset -4px -4px 8px rgba(255, 255, 255, 0.5);
  }

  .neumorphic-card {
    background: #e0e5ec;
    border-radius: 20px;
    box-shadow: 20px 20px 60px #bec8d4,
      -20px -20px 60px #ffffff;
  }
}